.first-col {
  width: 200px;
}

.date-select {
  position: relative;
  padding: 10px;

  a {
    display: inline-block;
  }

  a.prev-date {
    position: absolute;
    left: 0;
  }

  a.next-date {
    position: absolute;
    right: 0;
  }
}

.table {
  border-bottom: 1px solid #ddd;

  .total {
    font-style: italic;
  }

  .actions {
    text-align: right;
  }
}
